extends layout

append body
    .container
        h1 What is Paladin?
        p Paladin is an open source system designed for the effective tracking and identification of personnel in a building.
        p What you are on right now is the web interface for managing the system. The source can be found on #[a(href='https://github.com/PolarisLaboratories/Paladin') Github].
        
