extends ../node_modules/pug-bootstrap/_bootstrap.pug

append head
    title= title

append body
    +navbar("Paladin", "dropdown_menu")
        +nav_item("/") Home
        if login
            +nav_item("/map") Map
            +nav_item("/register") Register
            +nav_item("/logout") Sign out
            +nav_item("/about") About
        else
            +nav_item("/login") Login
            +nav_item("/about") About
