extends ../node_modules/pug-bootstrap/_bootstrap.pug

append head
    title= title

append body
    +navbar("Paladin", "dropdown_menu")
        +nav_item("/") Home
        if login
            +nav_item("/map") Map
            +nav_item_dropdown("#")(label="Users")
                +nav_item("/users/create") Create
            +nav_item_dropdown("#")(label="My Account")
                +nav_item("/profile") Profile
                +nav_item("/logout") Sign out
        else
            +nav_item("/login") Login
        +nav_item("/about") About
