block head
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/icon?family=Material+Icons')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" type='text/css' href="/css/material.css")
    link(rel="stylesheet" type='text/css' href="/css/ripples.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src="/js/material.js")
    script(src="/js/ripples.js")
    style(type='text/css').
        body {
            padding-top: 70px;
        }
    script(type='text/javascript').
        $(document).ready(function() {
            $.material.init();
        });
    title= title

block body
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                a(href='/').navbar-brand Paladin
            ul.nav.navbar-nav
                li
                    a(href='/') Home
                if login
                    li
                        a(href='/map') Map
                    li
                        a(href="/users/users") Users
                li
                    a(href='/about') About
            ul.nav.navbar-nav.navbar-right
                if login
                    li
                        a(href="/profile") Profile
                    li
                        a(href='/logout') Sign out
                else
                    li
                        a(href='/login') Login

block footer
