extends layout

append body
    .container
        +panel-primary("Login")
            form(method="post")
                +input("text","username","Username")
                +input("password","password","Password")
                +submit("Login")
