extends layout

append body
    .container
        +panel-primary("Login")
            form(method="post")
                +input("text","username","Username", { 'name': 'username', 'required': 'true' })
                +input("password","password","Password", { 'name': 'password', 'required': 'true' })
                +submit("Login")
