block head
    title Map
    //- Block WebSocket connections to other URLs besides the current one.
    //- In line with the current security recommendations when working with
    //- WebSockets.
    <meta http-equiv="Content-Security-Policy" content="connect-src 'self' wss:">
    //- CSS and Javascript for Bootstrap and jQuery
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    //- CSS for the loading animation. Will be removed once page loads
    link(href="stylesheets/loading.css", rel="stylesheet")
    //- CSS for the map
    link(href="stylesheets/map.css", rel="stylesheet")
    //- Load d3 before our scripts, otherwise we get errors about undefined
    //- functions.
    script(src="https://d3js.org/d3.v4.min.js")
    //- Load Modernizr to test for browser compatibility
    script(src="../javascripts/modernizr.js")
    //- Load our scripts
    script(src="../javascripts/typeahead.min.js")
    script(src="../javascripts/map.js")

block body
    //- These divs will be removed in the Javascript once the page loads
    div(id="main" class="loading")
    div(class="loading ball-one")
    div(class="loading ball-two")
    div(class="loading ball-three")
    //- Account label and links (the thing in the top right corner)
    div(id="account-bar")
        p(style="text-align: right")
            | Welcome!
            br
            a(href="/logout") Signout
            |  | 
            a(href="/") Home
    //- Zoom controls
    div(id="zoom-bar" class="btn-group-vertical")
        button(class="btn" id="zoom-in" data-toggle="tooltip" title="Zoom in")
            span(class="glyphicon glyphicon-zoom-in")
        button(class="btn" id="zoom-reset" data-toggle="tooltip" title="Reset zoom")
            span(class="glyphicon glyphicon-picture")
        button(class="btn" id="zoom-out" data-toggle="tooltip" title="Zoom out")
            span(class="glyphicon glyphicon-zoom-out")
    div(id="admin-bar" class="btn-group-vertical")
        button(class="btn" id="edit-rooms" data-toggle="tooltip" title="Edit rooms" onclick="toggle_rooms()")
            span(class="glyphicon glyphicon-plus")
    //- We insert the svg here instead of doing it with d3 because it's easier
    //- to set CSS from here
    svg(version="1.1" style="margin-left: auto; margin-right: auto; display: block;")
    #search-bar.input-group
        input.form-control.input-lg(type='text', placeholder='Search for a user' data-provide='typeahead' autocomplete='off')#search-input
        span.input-group-btn
            button.btn.btn-info.btn-lg(type='button')#search-button
                i.glyphicon.glyphicon-search
    #create-room.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Create Room
                .modal-body
                    form.form-horizontal#create-room-form()
                        .form-group
                            label(for="roomname").control-label.col-sm-2 Room name:
                            .col-sm-10
                                input(type="text" name="roomname" autocomplete="off").form-control#roomname
                        .form-group
                            label(for="roomid").control-label.col-sm-2 Room ID:
                            .col-sm-10
                                input(type="text" name="roomid" autocomplete="off").form-control#roomid
                        .text-center
                            button(type="submit").btn.btn-default Create
    #configure-card(hidden)
        #room-container.card(hidden)
            h4#roomname-header Room Details
            form.form-horizontal#roomname-form
                .form-group
                    label(for="roomname").control-label.col-sm-2 Room name:
                    .col-sm-10
                        input(type="text" name="roomname" autocomplete="off").form-control#roomname-edit
                .form-group
                    label(for="roomid").control-label.col-sm-2 Room ID:
                    .col-sm-10
                        input(type="text" name="roomid" autocomplete="off").form-control#roomid-edit
                .text-center
                    button(type="submit").btn.btn-primary Save
                    button.btn.btn-danger#delete-room Delete
        #user-container.card(hidden)
            h4#user-header User
            form.form-horizontal#roomname-form
                .form-group
                    label(for="username").control-label.col-sm-2 Name:
                    .col-sm-10
                        input(type="text" name="username" readonly).form-control#username
                .form-group
                    label(for="location").control-label.col-sm-2 Location:
                    .col-sm-10
                        input(type="text" name="location" readonly).form-control#location
