extends ../node_modules/pug-bootstrap/_bootstrap.pug

append head
    link(href="stylesheets/loading.css", rel="stylesheet")
    link(href="stylesheets/map.css", rel="stylesheet")
    <meta http-equiv="Content-Security-Policy" content="connect-src 'self' wss:">

//- Looks pretty empty :) Most of this is done in Javascript.
append body
    //- These divs will be removed in the Javascript once the page loads
    div(id="main" class="loading")
    div(class="loading ball-one")
    div(class="loading ball-two")
    div(class="loading ball-three")
    div(id="zoom-bar" class="btn-group-vertical" style="position: absolute; right: 2%; top: 10%;")
        button(class="btn" id="zoom-in")
            span(class="glyphicon glyphicon-zoom-in")
        button(class="btn" id="zoom-reset")
            span(class="glyphicon glyphicon-picture")
        button(class="btn" id="zoom-out")
            span(class="glyphicon glyphicon-zoom-out")
    svg(version="1.1" style="margin-left: auto; margin-right: auto; display: block;")
        

append scripts
    script(src="https://d3js.org/d3.v4.min.js")
    script(src="../javascripts/ws.js")
    script(src="../javascripts/map.js")
