body {
    overflow:hidden;
}

#account-bar {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 5;
}

#zoom-bar {
    position: absolute;
    right: 2%;
    top: 15%;
    z-index: 5;
}

#admin-bar {
    position: absolute;
    right: 2%;
    top: 30%;
    z-index: 5;
}

.card {
    padding: 2px 16px;
}

#configure-card {
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 30%;
    height: 25%;
    z-index: 5;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    border: 1px solid gray;
}
