.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#account-bar {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 5;
}

#zoom-bar {
    position: absolute;
    right: 2%;
    top: 15%;
    z-index: 5;
}
