extends ../layout

append body
    .container
        .panel.panel-default
            .panel-heading
                h3.panel-title Create user
            .panel-body
                form(method="post").form-horizontal
                    .form-group
                        label(for="firstname").control-label.col-sm-2 First name:
                        .col-sm-10
                            input(type="text" name="firstname").form-control#firstname
                    .form-group
                        label(for="lastname").control-label.col-sm-2 Last name:
                        .col-sm-10
                            input(type="text" name="lastname").form-control#lastname
                    .form-group
                        label(for="username").control-label.col-sm-2 Username:
                        .col-sm-10
                            input(type="text" name="username").form-control#username
                    .form-group
                        label(for="password").control-label.col-sm-2 Password:
                        .col-sm-10
                            input(type="password" name="password").form-control#password
                    .form-group
                        label(for="role").control-label.col-sm-2 Role:
                        .col-sm-10
                            select.form-control#role(name="role")
                                option Administrator
                                option Teacher
                                option Student
                    .text-center
                        button(type="submit").btn.btn-default Save
